@{
    ViewData["Title"] = "Home Page";
}

<div id="beginnerDiv" class="text-center card welcomePageCard">
    <div class="welcomeDiv">
        <h1 class="display-4">Welcome to KoboldPainting!</h1>
        <h3>This website is meant to help all miniature painters:</h3>
        <ul class="welcomePageUl">
            <li>Organize their paint collections</li>
            <li>Keep track of their paint Recipes</li>
            <li>Discover new paints</li>
            <li>And so much more!</li>
        </ul>
    </div>
</div>