@model KoboldPainting.Models.PaintsViewModel


<div id="beginnerDiv" class="text-center card welcomePageCard">
    <div class="welcomeDiv">
        <h1 class="display-4" style="font-weight: bold">Welcome to the Search Page!</h1>
        <h3>You can use this to search your favorite paints to learn more about them!</h3>
        <h4>Simply type in your paint name and click the search button</h4>
    </div>
</div>

<form id="searchForm" action="/Search/PaintSearch/">
<div class="form-group">
    <label for="paintName" style="margin-top: 2%;">Paint Name:</label>
    <input class="form-control" id="PaintName" placeholder="Enter Paint Name" asp-for="Paint">
        <div class="form-group">
            <label asp-for="SelectedCompany">Company</label>
            @* <input asp-for="Company" class="form-control" /> *@
            <select asp-for="SelectedCompany" asp-items="@(new SelectList(Model.Companies, "Id", "CompanyName"))"
                    class="form-control"></select>
            @* <option value="">Select a company</option> *@
            </select>

            <span asp-validation-for="SelectedCompany" class="text-danger"></span>
        </div>

   @*<label for="companyName" style="margin-top: 2%;">Company Name:</label>
   <input class="form-control" id="CompanyName" placeholder="Enter Company Name" asp-for="SelectedCompany">  
 *@
</div>
  <button type="submit" class="btn btn-primary" style="margin-top: 2%; text-align: center;" asp-controller="Search" asp-action="PaintSearch">Submit</button>
</form>